{{define "subject"}}Ask and You shall recieve!{{end}}
{{define "plainBody"}}
Hi {{.username}},
You requested for a password reset. Use the following token to login into your account and then change the password.
Token: {{.token}} .

Thanks,
The Chopper Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi {{.username}},</p>
<p>You requested for a password reset. Use the following token to login into your account and then change the password.</p>
<p>Token: <b>{{.token.Plaintext}}</b> .</p>

<p>Thanks,</p>
<p>The Chopper Team</p>
</body>
</html>
{{end}}